#clienteOverlay {
    background-color: #0008;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}

#containerRecord {
    display: flex;
}

#leftSide {
    width: 50%;
    background-color: #FFF;
    border-radius: 30px 0 0 30px;
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rightSide {
    width: 50%;
    background-color: #2B92F6;
    border-radius: 0 30px 30px 0;
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divPersonalPic {
    width: 8vw;
    height: 8vw;
}

.personalPic {
    width: 8vw;
    height: 8vw;
    object-fit: cover;
    border-radius: 50%;
}

#profileRecord {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 0;
    width: 80%;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

input {
    padding: 1% 2%;
    border-radius: 10px;
    margin-bottom: 5%;
    border: solid thin #F3F3F7;
    color: #8F959B;
    font-size: 1.25em;
}

input.error {
    border: solid red;
}

input:valid {
    border: solid thin #F3F3F7;
}

label.btn.editar {
    margin: 2% 0;
    align-self: center;
}

label.btn.editar {
    margin: 2% 0;
    align-self: center;
}

#uploadBtn {
    margin: 2% 0;
}

input[type='file'] {
    display: none;
}

.close {
    color: #FFF;
    align-self: normal;
}

#enderecoRecord {
    width: 80%;
    display: flex;
    flex-direction: column;
}

#phoneForm {
    flex-direction: row;
    justify-content: space-between;
}

#fpDDD {
    flex: 1;
    margin-right: 5%;
}

#fpTelefone {
    flex: 3;
}

#enderecoNumero {
    display: flex;
    justify-content: space-between;
}


#numero {
    width: 40%;
}

#complemento {
    width: 55%;
}

#contactList li {
    background-color: #FFF;
    color: #8F959B;
    border: solid thin #F3F3F3;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
    margin-bottom: 1%;
}

.clientPic {
    width: 6vw;
    height: 6vw;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 2%;
}

h4 {
    flex: 4;
    font-size: 1.5em;
}

#contactList p {
    margin: 0 1%;
    flex: 2;
}

.icon {
    width: 4%;
    margin: 2%;
}

.iconbtn {
    cursor: pointer;
    flex: 0.5;
}