#itens {
    display: block;
    overflow: auto;
    height: 75%;
}

.itemDespesa{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #8F959B;
    background-color: white;
    border: 2px solid #8F959B;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 2%;
}

.icon{
    width: 5%;
    margin: 2%;
}

.nomeItenCost{
    font-size: 2em;
    width: 50%;
}

.precoDesp{
    font-size: 1.5em;
    width: 15%;
    text-align: end;
}

.precoDesp{
    color: #8F959B;
}

#despesasOverlay {
    background-color: #0008;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}

#formDespesas {
    background-color: #fff;
    color: #8F959B;
    width: 40%;
    height: 50%;
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    justify-content: space-between;
    text-align: center;
}

.labelCard {
    margin-top: 10%;
    align-self: baseline;
}

input {
    width: 100%;
    font-size: 1.25em;
    padding: 1% 2%;
    border-radius: 10px;
    border: solid thin #F3F3F3;
}

.fechar{
    cursor: pointer;
    font-size: 2em;
    color: #8F959B;
    align-self: flex-end;  
}

.btnForm {
    width: 100%;
    text-align: center;
    padding: 2% 0;
    margin-top: 5%
}

input.error {
    border: solid red;
}

input:valid {
    border: solid thin #F3F3F7;
}

.iconbtn {
    cursor: pointer;
}
