main {
    display: block;
    overflow: auto;
}

h4 { font-size: 1.5em;}
h5 { font-size: 1.25em;}

.bgMain{ 
    background-color: #2B92F6;
    color: #F3F3F7;
}

.bgDark { 
    background-color: #144575;
    color: #F3F3F7;
}

.bgWhite { 
    background-color: #FFFFFF; 
    color: #8F959B;
}

.w100 {width: 100%;}
.w50 {width: 50%;}



.card {
    height: 25vw;
    padding: 2%;
    margin-bottom: 2%;
    border-radius: 30px;
}

.chartContainer {
    display: flex;
    height: 90%;
}

.chartCard {
    height: 100%;
    padding: 2%;
}

#kpis {
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.cell {
    padding: 2%;
    border: solid 1px;
    border-radius: 10px;
}

#pedidosChartCard {
    width: 80%;
    height: 100%;
    padding: 2%;
}

#materiaisTable {
    overflow: auto;
    height: 85%;
    margin: 2% 0;
}

table {
    width: 100%;
}

tbody tr:nth-child(even) { background-color: #F3F3F7;}

th {
    background-color: #144575;
    color: #F3F3F7;
    position: sticky;
    top:0;
}

th, td { padding: 1%;}

td:nth-child(2) {
    width: 25%;
    text-align:end;
}