* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F3F3F7;
    color: #2B92F6;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 1.2vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Estilos de textos */
h1 { font-size: 6em; font-weight: normal}
h2 { font-size: 3.5em; font-weight: normal }
h3 { font-size: 2.25em; font-weight: normal }
h4 { font-size: 1.5em }
p { font-size: 1.5em; text-align: justify; padding: 3vw 0; }


/* Menu fixo no topo */

nav {
    background-color: #fff;
    color: #000;
    font-size: 1.5em;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0.5%;
}

nav img {
    width: 5vw;
    margin: 0.5vw;
}

nav a {
    text-decoration: none;
    color: #000;
    padding: 1vw 1.5vw;
    display: block;
}

nav a:hover, .active {
    border: solid #2B92F6;
    color: #2B92F6;
    border-radius: 10px;
}

#btnLogin {
    color: #F3F3F7;
    border-radius: 7em;
    padding: 1.5vw 4vw;
    cursor: pointer;
}

#btnLogin { background-color: #2B92F6 }

#btnLogin:hover {
    background-color:#2580DB;
    color:#FFF;
    border: none;
}

/* Sessões */
main {
    overflow: auto;
}

section {
    background-size: 100% 100%;
    height: 57vw;
    padding: 0 5vw;
}

/* Apresentação */
#apresentacao {
    background-image: url(../imgs/bgSection1.png);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Sobre */

#sobre {
    background-image: url(../imgs/bgSection2.png);
    display: flex;
    align-items: center;
}

#textoSobre { width: 50% }

/* Serviços */

#servicos {
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
}

.container {
    width: 100%;
    height: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.cards p { padding: 1vw 0 }

.card {
    width: 30%;
    height: 35%;
    display: flex;
    font-size: 0.83em;
}

.imgCard {
    width: 5vw;
    align-self: start;
    margin: 0 5%;
}

/* Equipe */

#equipe {
    background-image: url(../imgs/bgSection4.png);
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
}

#equipe .container { height: 60% }

#equipe .cards p { 
    padding: 0.5vw 0;
    font-size: 1em;
}

.imgEquipe {
    border-radius: 50%;
    width: 8vw;
}

/* Footer */

footer {
    background-image: url("../imgs/footerIcon.png");
    color: #F3F3F7;
    background-size: 100% 100%;
    height: 35vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-end;
}
footer div {
    width: 100%;
    height: 50%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    align-content: center;
    filter: grayscale(1);
}

footer img {
    width: 25%;
}