body{
    background-color:#dfdfdf;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    width: 100%
}

header{
    display: flex;
    flex-direction: row;
}

ul{
    display: flex;
}
.itemMenu{
    text-decoration: none;
    color: black;
    font-size: 2em;
    margin-right: 6em
}

#btnLogin{
    border-radius: 7em;
    height: 25px;
    padding: 0.5% 3% 0.5% 3%;
    cursor: pointer;
    background-color: #2B92F6;
    color: white;
    border: solid 1px #2B92F6;
    font-size: 1.5em;
    align-self: center;
}

#btnLogin:hover {
    background-color:#2580DB
}

#apresentacao {
    height: 100vh;
    width: 100%;
    background-image: url(../imgs/bgSection1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#nomeProjeto{
    color: white;
    font-size: 4.5em;
    text-align: left;
    margin-left: 10%;
    margin-top: 18%;
    margin-bottom: 0
}

#lemaProjeto{
    color: white;
    font-size: 1.2em;
    text-align: left;
    margin-left: 20%;
    margin-bottom: 50%
}

#sobre{
    width: 100%;
    height: 100vh;
    background-image: url(../imgs/bgSection2.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#tituloQuanto{
    font-size: 1.4em;
    font-weight: bolder;
    margin-bottom: 5%
}

#quanto{
    color:#2580DB;
    margin-left: 5%;
    margin-top: 25%;
    margin-right: 35%;
    font-size: 1.2em;
    text-align: justify;
}

#servicos{
    color:#2580DB;
    height: 50vh;    
}

.tituloServicos{
    font-size: 1.8em;
    font-weight: bolder;
    text-align: center
}
.quadro{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
.itemServico{
    display: flex;
    flex-direction: row;
    width: 30%;
}
#equipe{
    background-image:url(../imgs/bgSection4.png);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    color:#2580DB;
    height: 80vh
}

#eq{
    margin-top: 20%;
}

.texto{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 20px;
}
footer{
    background-image: url(../imgs/footerIcon.png);
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.imgServicos{
    margin-top: 20px;
    width: 100%;
}

.tituloTex{
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0;
}