.row{
    /* margin-bottom: 0px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    /* height: 15%; */
    align-items: center;
    flex: 1;
}

.column{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    justify-content: center;
}


.boxMaterial{
    padding: 1.5% 0%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #8F959B;
    background-color: white;
    border: 2px solid #8F959B;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 1%;
}

.iconCarrinho{
    position: absolute;
    top: -25%;
    left: 2%;
    object-fit: contain;
    padding: 1%;
    width: 20%;
    /* z-index: 1; */
}

#quantity{
    font-size: 1em;
    justify-content: center;
    text-align: center;
    color: #8F959B;
    width: 20%;
}


#materiaisOverlay {
    background-color: #0008;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}

#formMateriais {
    position: relative;
    background-color: #fff;
    padding: 5%;
    width: 30vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: space-evenly;
    align-items: center;
}

.fechar{
    cursor: pointer;
    font-size: 2em;
    color: #8F959B;
    position: absolute;
    top: 3%;
    right: 30px;
    z-index: 1;
}

.dadosDBoverlay{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8F959B;
    background-color: white;
    border: 2px solid #8F959B;
    border-radius: 10px;
    width: 100%;
    font-size: 1em;
}
