.row{
    /* margin-bottom: 0px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    /* height: 100%; */
    align-items: center;
    flex: 1;
}

.rowTabela{
    /* margin-bottom: 0px; */
    gap: 1%;
    padding: 0% 0%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    /* height: 10%; */
    align-items: center;
    justify-content: flex-start;
    color: #8F959B;
    background-color: white;
    border: 2px solid #8F959B;
    border-radius: 10px;
    flex: 1;
}

.row6ConteudoTabela{
    /* margin-bottom: 0px; */
    text-align: center;
    padding: 1% 1%;
    gap: 3%;
    display: flex;
    flex-direction: row;
    flex-flow: column;
    flex-wrap: nowrap;
    width: 100%;
    overflow-y: auto;
    /* height: 100%; */
    align-items: center;
    justify-content: flex-start;
    flex: 7;
}

.row6{
    /* margin-bottom: 0px; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    /* height: 100%; */
    align-items: center;
    flex: 6;
    max-height: 50%;
}
  
.column{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    justify-content: center;
}

.column2{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
    justify-content: center;
}

.column3{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 3;
    justify-content: center;
}

.column4{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 4;
    justify-content: center;
}

.column5{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 5;
    justify-content: center;
}

.columnStatus{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 4;
    justify-content: center;
}

.columnMaior{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 12;
    justify-content: center;
}

.margem{
    border: 2px solid #ececec;;
    border-radius: 10px;
    width: 70%;
    height: 70%;
}
  
.itemPedido{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #8F959B;
    background-color: white;
    border: 2px solid #8F959B;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 2%;
}

.icon{
    object-fit: contain;
    padding: 1%;
    /* width: max-content; */
}


.chamada{
    font-size: 1em;
    color: #8F959B
}

.dadosDB{
    font-size: 1.2em;
    color: #8F959B
}

#pedidosOverlay {
    background-color: #0008;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}

#formPedido {
    position: relative;
    background-color: #fff;
    padding: 5%;
    width: 60vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: space-evenly;
    align-items: center;
}

.dadosDBoverlay{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8F959B;
    background-color: white;
    border: 2px solid #8F959B;
    border-radius: 10px;
    width: 100%;
    font-size: 1.2em;
}

input {
    width: 100%;
    font-size: 1.25em;
    padding: 1% 2%;
    border-radius: 10px;
    border-style: solid;
    border-color: #8F959B;
}

.fechar{
    cursor: pointer;
    font-size: 2em;
    color: #8F959B;
    position: absolute;
    top: 3%;
    right: 2%;
    z-index: 1;
}

.btnForm {
    width: 100%;
    text-align: center;
    padding: 2% 0;
    margin-top: 5%;
}

.tabela{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8F959B;
    background-color: white;
    border: 2px solid #8F959B;
    width: 100%;
    /* font-size: 1.2em; */
}

.tabelaCabecalho{
    height: 100%;
    width: 100%;
    padding: 2% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2B92F6;
    background-color: #ececec;
    border: 0px solid #8F959B;
    /* font-size: 1.2em; */
}