/* Perfil */
h5 { font-size: 1.1em; }

.perfil{
    background-color: #FFF;
    color: #8F959B;
    height: 100%;
    overflow: auto;
    padding: 3% 7.5%;
    /* font-size: 1.25em; */
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
}

.divPersonalPic{
    width: 8vw;
    height: 8vw;
}

.personalPic {
    width: 8vw;
    height: 8vw;
    object-fit: cover;
    border-radius: 50%;
}

.dadosPessoais {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


main ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main li {
    width: 45%;
    margin-bottom: 1%;
}

#perfilOverlay {
    background-color: #0008;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}

.close {
    color: #FFF;
    align-self: normal;
}

.btn.salvar {
    align-self: center;
}

#enderecoRecord {
    width: 80%;
    display: flex;
    flex-direction: column;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

input {
    padding: 1% 2%;
    border-radius: 10px;
    margin-bottom: 5%;
    border: solid thin #F3F3F7;
    color: #8F959B;
    font-size: 1.25em;
}

#phoneForm {
    flex-direction: row;
    justify-content: space-between;
}

#fpDDD {
    flex: 1;
    margin-right: 5%;
}

#fpTelefone {
    flex: 3;
}

#containerRecord {
    display: flex;
}

#leftSide {
    width: 50%;
    background-color: #FFF;
    border-radius: 30px 0 0 30px;
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rightSide {
    width: 50%;
    background-color: #2B92F6;
    border-radius: 0 30px 30px 0;
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profileRecord {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 0;
    width: 80%;
}

#uploadBtn {
    margin: 2% 0;
}

#enderecoNumero {
    display: flex;
    justify-content: space-between;
}

#numero {
    width: 40%;
}

#complemento {
    width: 55%;
}

#fpSenha2 {
    width: 100%;
}

.w100 { width: 100% }

.btnForm {
    width: 100%;
    text-align: center;
    padding: 2% 0;
}

#enderecos ul {
    display: block;
}

#enderecos li {
    width: 100%;
}

input.error {
    border: solid red;
}

input:valid {
    border: solid thin #F3F3F7;
}

input[type='file'] {
    display: none
}

label.btn.editar {
    margin: 2% 0;
    align-self: center;
}