main {
    display: block;
    overflow: auto;
}

#salarios {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-image: url(../imgs/card1.png);
    background-size: 100% 100%;
    width: 30%;
    text-align: center;
    padding: 3%;
    margin: 1%;
    color: #8F959B;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divPersonalPic{
    width: 8vw;
    height: 8vw;
}

.personalPic {
    width: 8vw;
    height: 8vw;
    object-fit: cover;
    border-radius: 50%;
}

main ul {
    list-style: none;
    padding: 10% 0;
}

main li { padding: 2% 0 }

#card2{
    display: flex;
    justify-content: center;
    align-items: center;
}

#add{ width: 75% }

.overlay {
    background-color: #0008;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}

#formSalarios{
    background-color: #FFF;
    color: #8F959B;
    width: 40%;
    border-radius: 30px;
    padding: 2% 5%;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

input {
    font-size: 1.25em;
    padding: 1% 2%;
    border-radius: 10px;
    border: solid thin #F3F3F7;
}

#divCheckbox {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.btnClose{
    cursor: pointer;
    font-size: 2em;
    color: #8F959B;
    align-self: flex-end;
}

label {
    margin: 0 2%;
}

.displayCheck{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5em;
}

.btnForm {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.excluir {
    background-color:#F56058;
    display: none;
}

.excluir:hover {
    background-color: #F00000;
}

.btn {
    width: 40%;
    border: none;
    outline: none;
}

#inputsSalario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

.labelCard {
    margin-top: 10%;
    align-self: baseline;
}

input[type='file'] {
    display: none;
}

#uploadBtn {
    margin: 2% 0;
}

label.btn.editar {
    margin: 2% 0;
    align-self: center;
    width: 50%;
}

input.error {
    border: solid red;
}

input:valid {
    border: solid thin #F3F3F7;
}